/* body,
html{
    padding: 0;
    margin: 0;
}
nav{
    background-color: white;
    box-shadow: 6px 5px 14px -7px;
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav img{
    width: 220px;
} */